#dock { position:  absolute; user-select: none; }
#dock div.wrap { display: flex; width: fit-content; height: fit-content; margin: 5px auto; justify-content: center; align-items: center; border-radius: 10px; background-color: rgba(230, 230, 230, 0.9) }
#dock div.item-wrap { margin: 5px; display: flex; flex-direction: column; }
#dock div.item { display: flex; width: 50px; height: 50px; justify-content: center; align-items: center; cursor: pointer}
#dock div.item:hover { background-color: rgba(255, 255, 255, 0.3) }
#dock div.item > a {  }
#dock div.active-bar { width: 0%; border-bottom: 1px solid; align-self: center; transition-duration: 1s; }
#dock div.active-bar.active { width: 20%; min-width: 10px; }
#dock div.active-bar.active.focus { width: 60%; }

/** POSITION **/
#dock.top { top: 0; left: 0; right: 0; bottom: initial; }
#dock.left { top: 0; left: 0; right: initial; bottom: 0; }
#dock.right { top: 0; left: initial; right: 0; bottom: 0; }
#dock.bottom { top: initial; left: 0; right: 0; bottom: 0; }
#dock.top div.wrap,
#dock.bottom div.wrap { flex-direction: row; }
#dock.left div.wrap,
#dock.right div.wrap { flex-direction: column; }

#dock div.item-bar { border: 0px solid rgba(0, 0, 0, 0.3); padding: 1px; }
#dock.top div.item-bar,
#dock.bottom div.item-bar { width: 1px; height: 50px; border-left-width: 1px; cursor: row-resize; }
#dock.left div.item-bar,
#dock.right div.item-bar { width: 50px; height: 1px; border-top-width: 1px; cursor: col-resize; }